<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/custom.form.css">
</head>
<body>
<!-- 商品评论列表数据 -->
<div class="kindle_table_div">
    <div id="searchParam" shiro:hasPermission="kindle:list">
        <div class="layui-form-item">
            <!-- 商品模糊搜索 -->
            <div class="layui-input-inline">
                <input type="text" id="name" class="layui-input" autocomplete="off" placeholder="请输入产品名称">
            </div>
            <div class="layui-input-inline">
                <input type="text" id="reviewsUsername" class="layui-input" autocomplete="off" placeholder="请输入用户名称">
            </div>
            <!-- 评分下拉框-->
            <div class="layui-input-inline layui-form">
                <select id="reviewsRating">
                    <option value="">请选择评分</option>
                    <option value="5">5分</option>
                    <option value="4">4分</option>
                    <option value="3">3分</option>
                    <option value="2">2分</option>
                    <option value="1">1分</option>
                </select>
            </div>
            <!-- 查询按钮 -->
            <div class="layui-input-inline ">
                <button class="layui-btn" onclick="search()" id="search">查询</button>
            </div>
        </div>

    </div>
    <table class="layui-hide" id="product_review_table" lay-filter="product_review_table"></table>
</div>
</body>

<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="kindle:delete">删除</a>
</script>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script>
    //获取token
    var token = CoreUtil.getData("access_token");
    //地址栏转义token中的#号
    var tokenQuery = token.replace("#", "%23");
    var tableIns1;
    var table = layui.table;
    var form = layui.form;
    var layer = layui.layer;
    var $ = jQuery = layui.jquery;
    var laydate = layui.laydate;
    var tree = layui.tree;
    layui.config({
        base: '/layui-ext/'
    }).extend({
        eleTree: 'eleTree/eleTree'
    }).use(['table', 'laypage', 'layer', 'laydate', 'tree', 'eleTree'], function () {
        var eleTree = layui.eleTree;
        tableIns1 = table.render({
            elem: '#product_review_table'
            , contentType: 'application/json'
            , headers: {"authorization": token}
            , page: true //开启分页
            , url: '/kindle/listByPage' //商品评论列表数据接口
            , method: 'POST'
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'pid', title: '产品id', width: 200},
                    {field: 'name', title: '产品名称', width: 200},
                    {field: 'reviewsRating', title: '评分', width: 70},
                    {field: 'reviewsTitle', title: '评论标题', width: 200},
                    {field: 'reviewsText', title: '评论文字内容', width: 200},
                    {field: 'reviewsSourceurls', title: '评论链接', width: 120},
                    {field: 'reviewsDate', title: '评论时间', width: 120},
                    {field: 'reviewsUsername', title: '评论用户名', width: 120},
                    {title: '操作', width: 80, toolbar: '#tool'}
                ]
            ]
            , toolbar: '#toolbar'
        });
    });

    //操作项事件
    table.on('tool(product_review_table)', function (obj) {
        var data = obj.data;
        switch (obj.event) {
            case 'del':
                deletedKindle(data.id);
                break;
        }
    });

    var deletedKindle = function (id) {
        layer.open({
            content: '确定要删除此评论吗'  + "?",
            yes: function (index, layero) {
                layer.close(index); //如果设定了yes回调，需进行手工关闭
                CoreUtil.sendDelete("[[@{/kindle/delete/}]]" + id, id, function (res) {
                    layer.msg(res.msg);
                    if(res.code == 0 || res.code == 200){
                        layer.msg(res.msg);
                        search();
                    }
                });
            }
        });
    };

    //执行查询
    function search() {
        //这里以搜索为例
        tableIns1.reload({
            where: { //设定异步数据接口的额外参数，任意设
                name: $("#name").val(),
                reviewsUsername: $("#reviewsUsername").val(),
                reviewsRating: $("#reviewsRating").val(),
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    };
</script>
</html>