<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/custom.form.css">
</head>
<body>
<!-- 商品评论列表数据 -->
<div class="role_table_div">
    <div id="searchParam" shiro:hasPermission="kindle:list">
        <div class="layui-form-item">
            <!-- 商品模糊搜索 -->
            <div class="layui-input-inline">
                <input type="text" id="name" class="layui-input" autocomplete="off" placeholder="请输入商品名称">
            </div>
            <!-- 评分下拉框-->
            <div class="layui-input-inline layui-form">
                <select id="reviewsDate">
                    <option value="">请选择年限</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                </select>
            </div>
            <!-- 查询按钮 -->
            <div class="layui-input-inline ">
                <button class="layui-btn" onclick="search()" id="search">查询</button>
            </div>
        </div>

    </div>

    <table class="layui-hide" id="product_review_table" lay-filter="product_review_table"></table>
</div>
</body>
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="kindle:delete">删除</a>
</script>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script>
    //获取token
    var token = CoreUtil.getData("access_token");
    //地址栏转义token中的#号
    var tokenQuery = token.replace("#", "%23");
    var tableIns1;
    var table = layui.table;
    var form = layui.form;
    var layer = layui.layer;
    var $ = jQuery = layui.jquery;
    var laydate = layui.laydate;
    var tree = layui.tree;
    var startTime = null;
    var endTime = null;
    layui.config({
        base: '/layui-ext/'
    }).extend({
        eleTree: 'eleTree/eleTree'
    }).use(['table', 'laypage', 'layer', 'laydate', 'tree', 'eleTree'], function () {
        var eleTree = layui.eleTree;
        tableIns1 = table.render({
            elem: '#product_review_table'
            , contentType: 'application/json'
            , headers: {"authorization": token}
            , page: true //开启分页
            , url: '/kindle/listByPage' //商品评论列表数据接口
            , method: 'POST'
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'id', title: '编号', width: 50},
                    {field: 'name', title: '产品名称', width: 200},
                    {field: 'reviewsDate', title: '评论时间', minWidth: 120},
                ]
            ]
            , toolbar: '#toolbar'
        });
    });

    //操作项事件
    table.on('tool(product_review_table)', function (obj) {
        var data = obj.data;
        switch (obj.event) {
            case 'del':
                deletedKindle(data.id);
                break;
        }
    });

    //执行查询
    function search() {
        //这里以搜索为例
        tableIns1.reload({
            where: { //设定异步数据接口的额外参数，任意设
                name: $("#name").val(),
                reviewsUsername: $("#reviewsUsername").val(),
                reviewsDate: $("#reviewsDate").val(),
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    };
</script>
</html>